<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get help for the 'Ruby on Rails Tutorial' at the 
	<a href="http://RailsTutorial.org/help"> Rails Tutorial Help page </a>

	To get help on this 'Sample App', you should visit the
	<a href="http://RailsTutorial.org/book"> Rails Tutorial Book </a>
</p>